.notifyme.sku-notifyme { background-color: ghostwhite;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box; box-shadow: 2px 2px 5px silver;}
  .notifyme{ background:0 0; margin:0; color:#5c5c5c; padding:0 }
.notifyme .notifymetitle{ color:#900; text-transform: uppercase;}
  .notifyme-title-div h3{ display:block; font-weight:700; font-size:15px; }

.notifyme input{ margin:3px 0 }
.notifyme-button-ok{ background:#999; border:none!important; color:#fff; float:left; padding:5px; cursor:pointer; }
.notifyme-button-ok:hover{ background:#666 }
fieldset.notifyme-form{ border:none; }
fieldset.notifyme-form p{ font-size:12px; color:#666; margin-bottom: 0; }
fieldset.notifyme-form input[type=text]{  padding:5px; border: 1px solid #ccc; color:#999; }
.notifyme-title-div{ text-align:center;  }
.sku-notifyme form{  }
.sku-notifyme-form{ border:0; }
.sku-notifyme-form p{ color:#666; font-size:19px; }
.sku-notifyme-button-ok{ background-color:#e5254b; color:#fff; width:100%; height:40px; border:0 }
.off-departament{ width:40%; background-color:#fff; }
.sku-notifyme-client-email,
.sku-notifyme-client-name{ width:100%; height:30px; font-size:16px; padding-left:5px; border:1px solid #66aac1 }
.sku-notifyme-client-name{ margin-bottom:10px; }
.sku-notifyme-client-email{ margin-bottom:20px; }
  .thumbs .ps__rail-y { left: unset !important; right: 0 !important }
  .preco-a-vista.price-cash { display: none !important; }
  .productDetailsV2 .leftV2 .shareV2 .redes_google { display: none; }
  .valor-total { font-weight: 500 !important; font-size: 48px; color: #018c60; font-family:'ciutadella', sans-serif; }
  .valor-total-simbolo { font-weight: 500 !important; font-size: 30px; color: #018c60; margin-right: 5px; font-family:'ciutadella', sans-serif;} 
  .btn-trocar-produto { background-color: #2d1265; color: #FFFFFF !important; padding: 10px 10px; font-size: 13px; text-align: center; text-transform: uppercase; border: none; position: absolute; top: 5px; left: 5px; box-shadow: 5px 5px 0px 0 #E1E1EB; cursor: pointer; overflow: hidden; width: 32px; display: inline-block; transition: all 0.2s linear; white-space: nowrap; }
  .btn-trocar-produto i { font-size: 14px; position: relative; top: 1px; margin-right: 10px; }
  .btn-trocar-produto span { opacity: 0; transition: all 0.2s linear; }
  .btn-trocar-produto:hover span { opacity: 1; }
  .btn-trocar-produto:hover { width: auto; }
  .aod-container-item-b { position: relative; }
  .aod-compre-junto {line-height: normal; box-sizing: border-box; border: 2px solid #e1e1eb; padding: 25px 8%; box-shadow: 15px 15px 0px #E1E1EB; margin-top: 25px;}
  hr.buy-together {display: none;}

  .aod-compre-junto #divCompreJunto .plus { width: 8%; z-index: 1; position: relative; top: 50px; }
  .aod-compre-junto #divCompreJunto .equal { display: none;}
  .aod-compre-junto #divCompreJunto .itemA { width: 46%; }
  .aod-compre-junto #divCompreJunto .itemB { width: 46%; }
  .aod-compre-junto #divCompreJunto .buy { width: 100%; text-align: right; }
  .aod-compre-junto #divCompreJunto .buy .economia { margin-top: 10px; }
  .aod-compre-junto table tbody tr td { display: inline-block; float: left; }
  
 @media (min-width: 800px) {
    .aod-compre-junto #divCompreJunto .plus { width: 8%; top: 0;}
    .aod-compre-junto #divCompreJunto .equal { width: 8%; display: table-cell; }
    .aod-compre-junto #divCompreJunto .itemA { width: 28%; }
    .aod-compre-junto #divCompreJunto .itemB { width: 28%; }
    .aod-compre-junto #divCompreJunto .buy { width: 28%; }
    .aod-compre-junto table tbody tr td { display: table-cell; float: none; }
  }
  
  .aod-compre-junto table tbody tr:nth-child(2),
  .aod-compre-junto table tbody tr:nth-child(3),
  .aod-compre-junto table tbody tr:nth-child(4),
  .aod-compre-junto table tbody tr:nth-child(5),
  .aod-compre-junto table tbody tr:nth-child(6),
  .aod-compre-junto table tbody tr:nth-child(7),
  .aod-compre-junto table tbody tr:nth-child(8),
  .aod-compre-junto table tbody tr:nth-child(9),
  .aod-compre-junto table tbody tr:nth-child(10) { display: none; }
  .botao-mostrar-parcelamento { display: inline; margin-left: 10px; font-weight: 100; color: #E4244B; cursor: pointer; }
  .box-opcoes-parcelamento ul { list-style: none; }
  .mais-imagens-over { position: absolute; cursor: pointer;  top: 388px; background: rgba(0,0,0,0.6); color: white; border: none !important; }
  .mainProduct .productDetailsV2 .leftV2 .apresentacao #show #include #image { position: relative; box-shadow:20px 20px 0px #e1e1eb;}
  .aod-compre-junto #divCompreJunto .plus, 
  .aod-compre-junto #divCompreJunto .equal { font-size: 70px; color: #018c60; overflow: visible; text-align: center; font-family: 'ciutadella', sans-serif; font-weight: 500;}
  .aod-compre-junto #divCompreJunto .itemA .aod-container-item-a,
  .aod-compre-junto #divCompreJunto .itemB .aod-container-item-b { position: relative; width: 100%; /*display: flex;*/ padding: 0; margin: 0 1% 12px 0%; overflow: hidden; align-items: center; text-align: center; }
  /*.aod-compre-junto #divCompreJunto .itemA img,
  .aod-compre-junto #divCompreJunto .itemB img  { max-width: 150px; }*/
  .aod-compre-junto #divCompreJunto table { border: none; padding: 0; margin: 0; width: 100%; }
  .aod-compre-junto #divCompreJunto .itemA h3 a,
  .aod-compre-junto #divCompreJunto .itemB h3 a { text-decoration: none;     color: #2d1265; font-size: 20px; font-weight: 500; display: block; margin: 15px 30px; font-family: 'ciutadella', sans-serif;}
  .aod-compre-junto #divCompreJunto .buy .more { display: none; }
  /*.aod-compre-junto #divCompreJunto .aod-container-buy > strong { display: none; }
  .aod-compre-junto #divCompreJunto .aod-container-buy > strong:nth-child(1),
  .aod-compre-junto #divCompreJunto .aod-container-buy > strong:nth-child(2) { display: inline; }*/
  .aod-compre-junto #divCompreJunto .aod-container-buy p.comprar-junto { margin-top: 15px; }
  em.economia-de { display: none; }
  .productDescV2 conteudo ul.btns li { cursor: pointer; margin-right: 10px; position: relative; top: 7px; background-color: #f3f3f7; width: auto; padding: 14px 36px;}
  /*.aod-product .red-bar{ background-color:#0b659b; }*/
#divCredito h3, #lnkFechar1, .bt1, .bt2{ text-indent:-9999px; }
  hr.compre-junto { display: none; }
.productDetailsV2 { margin:15px auto 0px auto; }
.productDetailsV2:before, .imageV2:before, .btns:before, .avalie-produto:before, .productDetailsV2:after, .imageV2:after, .btns:after, .avalie-produto:after{ content: ""; display:table; line-height:0; }
.productDetailsV2:after, .imageV2:after, .btns:after, .avalie-produto:after{ clear:both; }
.leftV2{ width:100%; }
#include{ border:2px solid #ededed; text-align:center; }
#image, #include img{ vertical-align:middle; }
#include{ width:100%; display:table; }
#include .video-product {

display: flex;

/* justify-content: center; */

/* align-items: center; */

width: 100%;

height: 100%;
}
#include .video-product iframe {
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
}

#include img{ line-height:212px; padding-top:0; margin:0 auto; display:list-item; max-width:100%;}
#image-main {width: 100%;}
#image{ display:table-cell; margin:0 auto 0 10px; }
/*.thumbs::-webkit-scrollbar {
    width: 5px;
}
.thumbs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
.thumbs::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

#include .video-product {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0;
}

#include .video-product iframe,
#include .video-product object,
#include .video-product embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}


.thumbs{ width:auto; padding:0; margin-top:15px; margin-bottom:0; list-style:none; display:block; overflow-y: scroll;
    overflow-x: hidden; position: relative; }
.thumbs li{ border:2px solid #ededed; text-align:center; height:92px; width:92px; margin:0 auto 5px; display:inline-block; }
.thumbs li a{ display:block; vertical-align:middle; text-align:center; width:90px; height:90px; line-height:90px; }
.thumbs li a img{margin: 0 auto; width:86px;} 


@media screen and (max-width: 470px) {
  .thumbs li a img{margin: 0 10px; width:86px;}
}
  

.shareV2 { display: none; } 
.bt1, .bt2{ display:inline-table; }

.bt1{ width:19px; height:21px; background:url(//copagloja.vteximg.com.br/arquivos/facebook-prod-ico-V2.png) no-repeat; }
.bt2{ width:33px; height:21px; background:url(//copagloja.vteximg.com.br/arquivos/twitter-prod-ico-V2.png) no-repeat; }
.bt3, .bt4{ width:34px; height:21px; display:inline-table; }
.bt3{ background:url(//copagloja.vteximg.com.br/arquivos/googleplus-prod-ico-V2.png) no-repeat; }
.bt4{ background:url(//copagloja.vteximg.com.br/arquivos/pinter-prod-ico-V2.png) no-repeat; }

#modalMethodPayment .cartao{width: 100%;}
#modalMethodPayment .cartao h3{display: none;}


.rightV2{ width:100%; }
.nameV2{ float:left; width:100% }
.nameV2 h1{
    color:#2d1265;
    font-family:'ciutadella', sans-serif;
    font-size: 48px; line-height: 40px;
    text-transform: uppercase;
    margin: 0; font-weight: 700;
    padding: 0; }
.shortDescriptionV2{ width:100%; font-size:13px; word-wrap:break-word; float:left; display:none; }
.valor-de.price-list-price{ text-decoration:line-through; color:#8b8b8b; font-size:20px; font-weight:100;}
.skuListPrice{ font-weight:100; }
.preco-a-vista{ margin-bottom:15px; }
.descontoBoleto-off-produtoV2{font-size: 14px; padding: 10px 0px;}
  .boleto-economia-de {color:#018c60; font-size:14px;}
.aod-product .descricao-preco{ margin-bottom:0px; }
.skuSeletor .buy-button,
.skuSeletor .nomeSku,
.skuSeletor .preco,
.skuSeletor .seller-data,
.skuSeletor .specification,
.skuSeletor .valor-dividido,
.skuSeletor .valor-por,
.skuSeletor a:last-child,
.skuSeletor img{ display:none; }
.skuSeletor{ /*float:left;*/ margin: 15px 20px 0 0; }
.skuSeletor ul{ padding:0; list-style:none; }
  .sku-selector-container ul.topic li span { display: flex; flex-direction: row;}
.sku-selector-container .topic .select input{ position:absolute; left:-99999px; vertical-align:text-top; }
.sku-selector-container ul.topic label{ width: 49%; color:#2d1265; display:block; font-size:14px; /*line-height:24px;*/ margin:0; padding: 15px 20px; position:relative; text-align:center; cursor:pointer; font-family:'passenger', sans-serif; margin-right: 20px;}
.cep-busca a,
.contentWrapper .header h1,
.contentWrapper .header h1 a,
.freight-values td:nth-child(3),
.quantity, .shippingV2 .header{ display:none; }
input[type=radio]:checked+label{ border: 2px solid #2d1265 !important; background: #2d1265; color: white;}
  input[type=radio]+label{ border: 2px solid #e1e1eb; background: white; box-shadow: 7px 7px 0px #e1e1eb;}
  /*input[type=radio]+label:last-child { border-bottom: 2px solid #E4244B; }*/
  .freight-values, .freight-values table, .freight-values th{ border-bottom:1px solid #ededed; width:100%; }
  #calculoFrete .contentWrapper{ width:100%; position:relative; top:7px; }
.freight-values{ position:relative; background-color:#fff; width:100%; cursor:pointer; }
.freight-values tr:hover{background: #ededed;}
.freight-values table th{ background-color:#bab9b9; color:#fff; display:none; }
.aod-product .frete{ text-align:left; }
#divFreteInvalido p{ margin:0; text-align:center; padding:10px; }
.freight-values td{ padding:8px; }
.freight-values th:first-child{ width:30% }
.freight-values td:first-child{ width:auto; text-align:left; color:#ff244a; }
#calculoFrete .contentWrapper .content{ width:100% }
.contentWrapper .header h1:after{ content:"FRETE E PRAZO"; color:#fff; font-weight:500; font-size:18px; }
.contentWrapper fieldset{ border:none; padding:0 }
.contentWrapper fieldset #btnFreteSimulacao,
.contentWrapper fieldset input{ display:inline-block; border:2px solid #e1e1eb; height:40px; font-size:16px; width:200px; padding:0 10px; font-family:'passennger', sans-serif; display: inline-block; vertical-align: top;}
.contentWrapper fieldset #btnFreteSimulacao{height: 40px; width: 40px; margin-left: 0px; border: 2px solid #2d1265; font-size: 18px; background-color: #FFFFFF; color: #2d1265; font-weight: 700; cursor: pointer; font-family: 'ciutadella', sans-serif; display: inline-block; vertical-align: top; transition: all 0.35s; -moz-transition: all 0.35s; -webkit-transition: all 0.35s; -o-transition: all 0.35s; padding: 0px;}
#modalMethodPayment .content{width: 100%;}
#modalMethodPayment .content h3{font-size:24px;}
#modalMethodPayment .content .cartao .div-card-flag{margin-bottom: 12px;}
#modalMethodPayment .tbl-payment-system{width: 100%; border-bottom: 1px solid #ccc;margin-bottom: 20px;}
#modalMethodPayment .tbl-payment-system tbody tr th,#modalMethodPayment .tbl-payment-system tbody tr td{padding: 4px;}
#modalMethodPayment .tbl-payment-system tbody tr td.parcelas + td{color: #ff244a;}
#modalMethodPayment .tbl-payment-system tbody tr:first-child{background-color:#ededed;}
#modalMethodPayment .boleto img{display: none;}
#modalMethodPayment .boleto p.txt, #modalMethodPayment .boleto p.valor{width: 48%;display: inline;}
#modalMethodPayment .boleto p.txt{margin-right: 80px;}

#modalMethodPayment .wrapper .valor{color:#ff244a;}
#divBoleto{width: 100%;}
#lnkFechar1, #lnkFechar2, #modalProduct #lnkFechar1, .ratingV2 strong{display:none;}
#lnkFechar1{ width:28px; height:40px; background-image:url(//copagloja.vteximg.com.br/arquivos/close-v2-box-2.png); background-repeat:no-repeat; float:right; margin-top:-54px; margin-right:15px; background-size:100% }
#divCredito h3{ background:url(//copagloja.vteximg.com.br/arquivos/bar-modal-pagamento.png) no-repeat; }
.descricao-preco p{ color:#76767B }
.descricao-preco .valor-por { font-size:20px; font-style:normal; color:#871390; text-transform:uppercase;}
.descricao-preco .valor-por strong{ font-weight:600 !important; font-size: 36px; font-family:'ciutadella', sans-serif;}
.valor-dividido { font-style: normal; padding: 10px 0px 0px 0px; font-size: 14px;}
.aod-product .productPrice { text-align: left; margin: 0; }
.aod-product .productPrice a{ text-align: center; margin: 0; }
.valor-de { font-style: normal !important; }
.pricingV2 { width: 100%; float:left; margin-bottom: 10px;}
.aod-product .optionsV2 { float: left; position: relative; clear: both; }
.aod-produtc .optionsV2 .paymentV2 { display: block;}
.optionsV2 .paymentV2 a { font-size: 0; background-image: url(./see-more-method-payment.jpg); width: 300px; /*height:36px;*/ display: block !important; background-repeat: no-repeat; margin: 10px 0;}
.outrasFormas{ display:none; float:right; width:243px; font-family:'Open Sans'; font-weight:400; font-size:12px; color:#666; position:relative; right:97px; top:-12px; height:0; z-index:999 }
.titulo-parcelamento{ display:none; }
.other-payment-method-ul{ list-style:none; padding:0; border:2px solid #9f9f9f; }
.other-payment-method-ul li{ height:25px; line-height:25px; text-align:center; font-weight:700; font-size:16px; }
.other-payment-method-ul li:nth-child(odd){ background-color:#ebebeb; color:#9f9f9f; }
.other-payment-method-ul li:nth-child(even){ background-color:#bab9b9; color:#fff; }
.shippingV2 a{ color:#76767B; font-weight:700; text-decoration:none; }
.shippingV2 p{ background-color:#fff; font-size:12px; line-height:1.3; text-decoration:none; margin-bottom:0px;}
.paymentV2 .vAerOutrasFormas:hover{cursor:pointer;}
.productDescV2 {margin-top: 50px;}
.productDescV2 #descri {margin-bottom: 0px !important; font-size: 16px; background:#FFFFFF;}
.productDescV2 #descri p{margin-top: 0;margin-bottom: 0px !important;line-height: 1.3;}
.productDescV2 #descri h2{font-size: 25px;font-weight: 700;}
.productDescV2 #descri h3{font-size: 22px;font-weight: 700;margin-top: 14px !important;}
.productDescV2 #descri ul{padding-left: 20px;}
.buyButtonV2{float: left;margin-top: 10px;margin-bottom: 0px; /*margin-top: 20px;*/ clear: both; width: 50%;}
.calculoFrete{ width:100%; height:40px; background-color:red; }
.productDescV2{margin-top:20px;width:calc(100% - 100px);display:inline-block;margin-left: 100px;}
.codigoV2{ float:left; width:100%; color:#c3c3c3; padding: 10px 0px;}
.codigoV2 p{ display:block; float:left; font-size:12px; font-weight:700 }
.codigoV2 .skuReference{ float: left; display: block; font-size: 12px; padding: 0 5px; margin-bottom: 0; }
/*.comprouTambem.listaProdutos #divCompreJunto{min-width: 600px;}*/
.comprouTambem.listaProdutos #divCompreJunto h4{display: none;}


.zoomOverlay, .zoomPreload{ left:0; top:0; width:100%; height:100% }
.zoomPreload, .zoomPup{ border:1px solid #CCC; }
.zoomPad{ position:relative; /*z-index:99;*/ cursor:crosshair; display:block; width: 100%;}
.zoomPreload{ -moz-opacity:.8; opacity:.8; filter:alpha(opacity=80); color:#333; font-size:12px; font-family:Tahoma; text-decoration:none; background-color:#fff; padding:8px; text-align:center; background-image:url(//copagloja.vteximg.com.br/arquivos/ajax-loader.gif); background-repeat:no-repeat; background-position:center center; z-index:10; position:absolute;display: none; }
.zoomPup, .zoomWrapperTitle{ filter:alpha(opacity=60); overflow:hidden; }
.zoomOverlay, .zoomPup{ z-index:101; position:absolute; }
.zoomPup{ background-color:#FFF; -moz-opacity:.6; opacity:.6; cursor:crosshair; }
.zoomOverlay{ background:#FFF; display:none; }
.zoomWindow{ position:absolute; left:0px !important; top:-2000px; background:#FFF; height:auto; z-index:10000; }
.zoomWrapper{ position:relative; border:1px solid #999; z-index:110; width:300px !important; height:400px !important; }
.zoomWrapperTitle{ display:block; background:#999; color:#FFF; height:18px; line-height:18px; width:100%; text-align:center; font-size:10px; position:absolute; top:0; left:0; z-index:120; -moz-opacity:.6; opacity:.6 }
.zoomWrapperImage{ display:block; position:relative; overflow:hidden; z-index:110; height:398px !important; }
.zoomWrapperImage img{ border:0; display:block; position:absolute; z-index:101 }
.zoomIframe{ z-index:-1; filter:alpha(opacity=0); -moz-opacity:.8; opacity:.8; position:absolute; display:block; }


/*
.sociais-divisoria{ border-right:1px solid #ccc; width:1px; height:14px; display:inline-block; position:relative; top:-4px; left:4px; }
.listagem h2:nth-child(1){ text-transform:uppercase; }
#spnRatingProdutoTop{ width:100% }
*/

.btns li { text-transform:uppercase; font-weight: 700;}
.btns { text-align:left; height:auto; padding:0; margin:30px auto 0px; }
.btns li, .btns li.bg-ativo { display:block; float:left; text-align:center; width: auto;}
.btns li {     white-space: nowrap; border:2px solid #e1e1eb; border-bottom:none; padding-top:10px; padding-bottom:10px; vertical-align:middle; list-style-type:none; margin-right:0; margin-top:-10px; margin-bottom:0; }
.blc_4 { margin-left:-3px; border-top:0!important; border-right:0!important; border-left:0 !important; font-size:0; height:5px; width:283px !important; }
.btns li.bg-ativo {
    color: #2d1265;
    border-bottom: none;
    padding: 14px;
    position: relative !important;
    top: 0px !important;
    background-color: white !important;
    box-shadow: 7px 7px 0px #e1e1eb;}
.btns li.bg-ativo a{  }
  .btns li.blc_3 { display: none; }
.btns li a{ text-decoration:none; color:#7d7d7d; font-size:12px; }
.aod-product .productDescV2 .see-more{ position:absolute; bottom:0; right:0px; padding:4px 20px; background-color:#ff244a; color:#fff; cursor:pointer; display: none;}
.aod-product .productDescV2 .see-more:hover{background-color:#bd2130;}
.productDescription, .blc_2 #caracteristicas, .descOverview{ margin:0px auto 0px; overflow:hidden;width: 100%; height:auto; padding:20px 0px 20px 25px; font-size: 16px; line-height: 26px; border-left:2px solid #e1e1eb; margin-top: 1px;}
.descOverview{ padding-top:20px; height:auto; }
.productDescription strong{ color:#969696 }
.blocoTexto{ display:block; position:relative; background: #FFFFFF; font-family:'passenger', sans-serif; color: #76767B;}
.blc_2 #caracteristicas{ text-align:left; overflow:auto; }
.blc_2 #caracteristicas table{width: 100%;}
.blc_2 th.name-field{ margin-right:50px; padding:8px 40px 8px 15px;}
.blc_2 td.value-field{padding:8px 40px 8px 15px;}
.blc_2 #caracteristicas tr{line-height:24px;}
.blc_2 #caracteristicas tr.even{background: #f3f3f7;}
.blc_2 #caracteristicas h4.group{ display:none; }

.comprouTambem{ margin-bottom:40px; width:100%; overflow-x:auto; }
.comprouTambem table{ min-width:600px; }
.comprouTambem .buy, .comprouTambem h4{ text-transform:uppercase; }
.comprouTambem h4{ position:relative; color:#2a2a2a; border-bottom:1px solid #2a2a2a; text-align:left; font-family:arial; font-size:25px; float:left; width:100%; margin:20px 0 20px 0; letter-spacing:-1px; }
.comprouTambem h4 span{ display:none; }
.comprouTambem h4:before{ content:""; display:inline-block; width:32px; height:30px; background-image:url(./logo-copag-white-icon.png); background-size:auto 30px; background-repeat:no-repeat; position:absolute; top:-3px; right:-3px; }
.rightV2{ float:right; }
.comprouTambem .plus{ background-image:url(./copag-mais.png); background-repeat:no-repeat; font-size:0; width:60px; background-position:center center; width:10%; }
.comprouTambem .itemA, .comprouTambem .itemB{ border:1px solid #c6c6c6; padding:20px; box-shadow:0px 0px 4px rgba(0,0,0,0.4); border-radius:3px; overflow:hidden; width:22%; }
.comprouTambem .itemA a, .comprouTambem .itemB a{ display:block; }
.comprouTambem .itemA a img, .comprouTambem .itemB a img{ display:block; margin:0px auto; }
.comprouTambem .itemA h3, .comprouTambem .itemB h3{ color:#333333; font-size:13px; font-weight:100; display:block; margin:14px 0 0 0; }
.comprouTambem .itemA h3 a, .comprouTambem .itemB h3 a{ text-decoration:none; color:#76767B }
.comprouTambem .equal{ background-image:url(./copag-igual.png); background-repeat:no-repeat; font-size:0; width:60px; background-position:center center; width:10%; }
.comprouTambem .buy{ text-align:center; color:#000; padding-left:40px; }
.comprouTambem .buy strong:nth-child(n+3){ color:#e5254b; display:block; }
.comprouTambem .more, .comprouTambem hr{ display:none; }

.quemViuViuTambem,  
  .produtosSimilares,
.quemComprouComprouTambem{ margin-bottom:40px; }
  .quemViuViuTambem h2,
  .produtosSimilares h2,
.quemComprouComprouTambem h2,
  .aod-compre-junto h4 {
    position:relative; color:#2a2a2a; border-bottom:1px solid #e4244b; text-align:left; font-family:passenger, sans-serif; font-size:25px; float:left; width:100%; margin:20px 0 20px 0; letter-spacing:-1px; text-transform: uppercase; 
    text-transform: uppercase;
    font-size: 48px;
    color: #2c1266;
    font-weight: 700;
    border-bottom: 0px;
    position: relative;
    line-height: 48px;
    font-weight: 700;
    font-family: 'ciutadella', sans-serif;
    text-align: center;
  }

.produtosSimilares h2 {
  float: none;
}

.box-opcoes-parcelamento h2 {
  position:relative; color:#2a2a2a; border-bottom:1px solid #e4244b; text-align:left; font-family:passenger, sans-serif; font-size:25px;
  width:100%; margin:20px 0 20px 0; letter-spacing:-1px; text-transform: uppercase; 
    text-transform: uppercase;
    font-size: 48px;
    color: #2c1266;
    font-weight: 700;
    border-bottom: 0px;
    position: relative;
    line-height: 48px;
    font-weight: 700;
    font-family: 'ciutadella', sans-serif;
    text-align: center;

}
.box-opcoes-parcelamento ul {margin-bottom: 40px; text-align: left;}
.box-opcoes-parcelamento ul li {display: block; padding:10px 0px; width: 100%; border-top:1px solid #E1E1EB;}

  .quemViuViuTambem h2 span,
  .produtosSimilares h2 span,
.quemComprouComprouTambem h2 span{ display:none; }
/*  .box-opcoes-parcelamento h2:before,
  .quemViuViuTambem h2:before,
  .produtosSimilares h2:before,
.quemComprouComprouTambem h2:before{ content:""; display:inline-block; width:32px; height:30px; background-image:url(./logo-copag-white-icon.png); background-size:auto 30px; background-repeat:no-repeat; position:absolute; top:-3px; right:-3px; }*/

.ratingV2{ float:left; width:50% }

/*
.listagem{ margin:0 auto; width:1024px; }
.listagem h2:nth-child(1){ color:#2a2a2a; border-bottom:1px dotted #2a2a2a; text-align:left; font-family:arial; font-size:25px; float:left; width:100%; margin-top:20px; letter-spacing:-1px; background:url(//copagloja.vteximg.com.br/arquivos/icon-copas-home.png) 100% 0 no-repeat; }
.listagem ul{ padding:0; list-style-type:none; }
.listagem li{ width:300px; min-height:440px; float:left; border:1px solid #ededed; margin:0 12px 20px 17px; padding-left:10px; }
.listagem img{ width:243px; height:243px; margin-left:25px; }
.btn_mais, .hide, .tags{ display:none; }
.crawling{ text-decoration:none; }
.crawling span{ text-decoration:none; color:#76767B; font-size:16px; font-weight:700; display:block; height:50px; overflow-y:hidden; }
.botao-wrapper .btn_comprar{ cursor:pointer; background:url(//copagloja.vteximg.com.br/arquivos/BotaoComprarV2.jpg); padding:15px 100px; color:transparent; }
.prod_wrapper h1{ margin-bottom:0 }
.price{ margin-bottom:30px; }
.price span{ color:#a4a4a4 }
.price strong{ font-size:25px; font-weight:700; display:inline; font-style:normal; color:#76767B }
.price .color1{ font-size:14px; font-style:normal; display:block; }
*/

.ver-todos-comentarios a{ text-transform:uppercase; }

.user-review h4{ font-size:22px; color:#6d6d6d; line-height:59px; }
.avalie-produto ul{ list-style:none; max-width:100%; height:50px; }
.user-review div.avaliacao ul#ulPubliqueResenha.opt li.publique{ display:inline-block; float:right; width:auto; font-size:16px; text-decoration:none; color:#fff; background:#E4244B; padding:10px; text-align:center; -webkit-transition:background .4s ease-out; -moz-transition:background .4s ease-out; -ms-transition:background .4s ease-out; -o-transition:background .4s ease-out; transition:background .4s ease-out; cursor:pointer; }
.user-review div.avaliacao ul#ulPubliqueResenha.opt li.publique a{ color:#eee; font-weight:600; text-decoration:none; text-transform:uppercase; font-size:15px; }
.user-review div.avaliacao ul#ulPubliqueResenha.opt li.publique:hover{ background-color:#7e192d; }
.avaliacao{ margin:0 auto; }
#opiniao_de_usuario .media, #publishUserReview .header h1, #publishUserReview li.opiniaoRating label, .rating{ display:none; }
.rating-demonstrativo, .rating-produto, .rating-wrapper .rating{ height:20px; width:87px; }
.a05, .a10, .avaliacao05, .avaliacao10, .filledRatingStar{ background-position:0 -20px; }
.a15, .a20, .avaliacao15, .avaliacao20{ background-position:0 -40px; }
.a25, .a30, .avaliacao25, .avaliacao30{ background-position:0 -60px; }
.a35, .a40, .avaliacao35, .avaliacao40{ background-position:0 -82px; }
.a45, .a50, .avaliacao45, .avaliacao50{ background-position:0 -100px; }
.avaliacao .avalie-produto{ border:1px dotted #999; width:100%; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
#opiniao_de_usuario .avalicao{ border:1px solid green; -webkit-border-radius:5px; }
#opiniao_de_usuario .avalie-produto h5{ margin:29px; font-weight:700; font-size:16px; margin-bottom:2px; color:#656565 }
.rating-avalie-wrapper{ margin:10px 0 10px 28px; padding:0; float:left; border:0; }
p.rating-avalie{ margin:0 0 36px; float:left; }
.emptyRatingStar, .filledRatingStar{ float:left; height:24px; width:24px; }
#opcoes-avalie{ border:none; margin:30px; width:100%; }
#opcoes-avalie label{ margin:0 30px 0 5px; float:left; font-size:16px; }
#opcoes-avalie input[type=radio]{ float:left; margin:0; clear:left; }
#opcoes-avalie p{ display:none; }
#opcoes-avalie label{ color:#989898; font-weight:600 }
#opcoes-avalie input{ cursor:pointer; }

#publishUserReview{ width:100%; margin:0 auto 0 58px; }
#publishUserReview .content{ width:100%; }
#publishUserReview .header h2{ font-size:18px; color:#656565!important; margin:0 0 20px; padding:0; font-weight:800 }
#publishUserReview fieldset{ float:left; border:none; }
#publishUserReview fieldset label{ display:block; }
#publishUserReview fieldset input[type=text]{ border:1px solid #999; padding:5px; width:440px; margin:5px 0 }
#publishUserReview fieldset textarea{ width:450px; height:60px; border:1px solid #999 }
#publishUserReview .checkgroups{ margin:5px 0; overflow:hidden; }
#publishUserReview .checkgroups label{ float:left; margin:3px 0 0 }
#publishUserReview .checkgroups input[type=checkbox]{ float:left; }
#publishUserReview strong{ color:#656565!important; }
#publishUserReview .avaliar a{ display:inline-block; width:100px; margin:10px 0 0 780px; border:1px dotted #fff; font-size:17px; text-decoration:none; background:#7e192d; padding:10px 16px; font-weight:600; text-align:center; color:#eee; -webkit-border-radius:4px; border-radius:4px; -webkit-transition:background .4s ease-out; -moz-transition:background .4s ease-out; -ms-transition:background .4s ease-out; -o-transition:background .4s ease-out; transition:background .4s ease-out; cursor:pointer; }

.links-resenha-usuario{ margin:0; padding:0; }
.ver-todos-comentarios a{ color:#666; font-weight:600; text-decoration:underline; font-size:15px; }
.ver-todos-comentarios{ font-size:13px; width:100%; padding:10px 0; text-align:center; background:#fff; margin:50px 0 0 0; list-style:none; }
#modalProduct, #modalProduct h1, #publishUserReview .footer, .cidade-resenha, .considera-util, .email-resenha,
	.filter-nav, .produto div#TB_window div#TB_title div#TB_ajaxWindowTitle, .publique, .user-review hr, div.formUserComments hr{ display:none; }
ul.resenhas{ margin:0; padding:0; background-color:#f7f7f7 }
ul.resenhas li{ margin:0; padding:10px; list-style:none; }
.quem p.dados{ margin:0; padding:0; font-size:15px; color:#666 }
.quem li{ margin:0; padding-left:30px!important; border-bottom:1px solid #e4e4e4 }
.quem li blockquote{ margin:10px 0 20px; padding:0; font-size:13px; color:#666 }

.opiniaoInfo{ float:left; }
.codigoV3 .skuReference, .codigoV3 p{ display:block; font-size:12px; float:left; }
.codigoV3{ float:left; width:100% }
.codigoV3 p{ font-weight:700 }
.codigoV3 .skuReference{ padding:12px 0 0 5px; }
#opcoes-avalie input[type=radio]:checked+label{ border:0 }
.opiniaoTexto .avalie-produto{ overflow:hidden; padding:0 0 18px; margin:0 40px 5px; border:1px dotted #999; -webkit-border-radius:5px; border-radius:5px; }
.opiniaoTexto .avalie-produto h5{ font-weight:400; font-size:18px; color:#656565!important; margin:20px 0 0; padding:0 0 0 15px; }
#publishUserReview .avaliar a:hover{ background-color:#7e192d; }
#publishUserReview .close a{ padding:5px; color:#fff; background:#b1b1b1; -webkit-border-radius:5px; border-radius:5px; float:right; text-decoration:none; }
.opiniao-ajudou, .opiniaoTexto p.media, .opiniaoTexto ul.rating, .rating-wrapper, .resenha-util-quantidade{ display:none; border:1px solid red; }
.opiniaoTexto .user-review h4{ font-size:24px; color:#656565!important; background:url(//copagloja.vteximg.com.br/arquivos/2013-bgCep.jpg) left top repeat-x; padding:10px 0 10px 30px; font-weight:400; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4 }
#modalProduct .contentWrapper fieldset legend,
#modalProduct .contentWrapper fieldset table td{ font-weight:600 }
div.formUserComments{ background:#fff; padding:20px; }
div.formUserComments h2{ font-size:17px; border-bottom:1px dotted #ccc; padding:0 0 5px; color:#666 }
div.formUserComments ul.resenha,
div.formUserComments ul.resenha li{ margin:0; padding:0 }
div.formUserComments div.userReviewAllCommentsContent ul.resenha li div.quem p.dados{ border-bottom:1px dotted #666; font-size:16px; }
div.formUserComments div.userReviewAllCommentsContent ul.resenha li blockquote.opt-texto p{ font-size:13px; margin:0; padding:3px 0 25px; color:#666 }
div.formUserComments div.userReviewAllCommentsContent ul.resenha li blockquote.opt-texto{ margin:0; padding:0 }
div#TB_window div#TB_ajaxContent{ background:#fff; border:3px dotted #7e192d; padding:5px; }
.ranking .opiniaoRating{ list-style:none; }
#TB_closeAjaxWindow a{ width:18px; height:18px; background-image:url(//copagloja.vteximg.com.br/arquivos/welcomeFechar.png); display:block; float:right; position:relative; top:34px; right:-5px; cursor:pointer; font-size:0 }
#modalProduct{ font-family:Open Sans; margin:0 auto; width:100%; left:0; position:fixed; background-color:rgba(0, 0, 0, .6); top:0; opacity:5; z-index:9999; height:100% }
#modalProduct .contentWrapperk{ margin:0 auto 0 0 }
#modalProduct .contentWrapper{ background-color:#f9f9f9; width:450px; margin:267px auto 0 }
#modalProduct .contentWrapper .content{ width:450px; }
#divCredito h3{ display:inline-block; width:100%; height:59px; margin-top:0; background-size:100%; cursor:pointer; }
#modalProduct .contentWrapper fieldset{ border:none; margin-top:-20px; padding-bottom:0 }
#modalProduct .contentWrapper fieldset select{ -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
#modalProduct .contentWrapper fieldset table tr:first-child{ display:none; }
#modalProduct .contentWrapper fieldset table .parcelas{ font-weight:100; margin-bottom:-30px; }
.fb{ display:inline; margin-right:10px; }

.aod-product .bottom-banner-product{width: 100%;}
.aod-product .bottom-banner-product img{width: 100%;}
#TB_window{ background-color: #FFFFFF; padding:20px; }
.fa-chevron-right:before{
	content: url(http://copagloja.vteximg.com.br/arquivos/arrow-right-carousel-product.png) !important;
}
.fa-chevron-left:before{
	content: url(http://copagloja.vteximg.com.br/arquivos/arrow-left-carousel-product.png) !important;
}
#products-carousel-desk{display: none;}
#products-carousel-mob{display: block;}

.carousel-control-next, .carousel-control-prev{
	opacity: 1 !important;
}
.quemComprouComprouTambem.listaProdutos .carousel.slide .carousel-inner{
	width: 100%;
	margin:0 auto;
}
.carousel-control-prev {
    left: -23px;
    top: 230px;
}
.carousel-control-next {
    right: -23px;
    top: 230px;
}
.quemComprouComprouTambem{
}
.listaProdutos .mainShelfV2 li{
	margin-left: 0;
}
  
  /* aod */
.quemViuViuTambem .AOD-Shelf-Main ul
.produtosSimilares .AOD-Shelf-Main ul,  
.quemComprouComprouTambem .AOD-Shelf-Main ul {
    position: relative;
    display: block;
    padding: 0;
    list-style-type: none;
    clear: left;
    margin: 0 -1%;
}
  
@media (min-width: 476px){
	/* max-width: 540px; */
  
	.leftV2{ width:250px; float:left; }
	#include{ width:250px; margin-bottom:10px; /*float:right;*/ }
	#include img{ max-width:100%;}
	.rightV2{ width:250px; float:right; }
	.zoomWindow{ left:254px !important; top:-30px !important; }
	.zoomWrapper{ width:330px !important; height:410px !important; }
	.zoomWrapperImage{ height:408px !important; }
	.btns { height:35px; }
	.btns li{  padding-top:10px; padding-bottom:10px; }
	.btns li a { font-size:16px; }
	/*.listaProdutos .mainShelfV2 li{width: 100%;}*/
	/*.quemComprouComprouTambem{height: 430px;}*/
	.comprouTambem.listaProdutos #divCompreJunto{width: 99%;}
	.comprouTambem{overflow: hidden;}
  
}

@media (max-width: 768px){
    .productDescV2 {    
		margin-left: 0;
		width: 100%;
	}
	.productDescription, .blc_2 #caracteristicas, .descOverview {
        padding: 20px 10px 20px;
	}
}

@media (min-width: 768px){
	/* max-width: 720px; */
	#products-carousel-desk{display: block;}
	#products-carousel-mob{display: none;}
	.leftV2{ width:330px; float:left; }
	.thumbs{ width:92px; margin-top:0; max-height: 413px; display: inline; }
	.shareV2{ width:auto; }
	#include{width:226px;height:226px;float: right;/* overflow: hidden; */}
	#include img{ max-width:100%; }
	.rightV2{ width:330px; float:right; }
	.zoomWindow{ left:254px !important; top:-30px !important; }
	.zoomWrapper{ width:330px !important; height:410px !important; }
	.zoomWrapperImage{ height:408px !important; }
	#opcoes-avalie{ border:none; margin:8px 0 20px 120px; float:left; width:600px; }
	.quemComprouComprouTambem.listaProdutos .carousel.slide .carousel-inner{width: 90%;}
	.listaProdutos .mainShelfV2 li{margin-left: 1%;}
	.carousel-control-next{right: -40px;top: 50px;}
	.carousel-control-prev{left: -40px;top: 50px;}

}


@media (min-width: 992px){
	/* max-width: 960px; */
	.leftV2{ width:456px; float:left; }
	#include{width:350px;height:412px;}
	.rightV2{ width:450px; float:right; }
	.zoomWindow{ left:382px !important; top:-30px !important; }
	.zoomWrapper{ width:450px !important; height:410px !important; }
	.zoomWrapperImage{ height:408px !important; }
	#include img{ max-width:unset; }
	.btns li{ width:220px; }
	/*.quemComprouComprouTambem{height: 470px;}*/
	.productDescV2 {margin-top: 20px;}
}

@media (min-width: 1200px){
	/* max-width: 1140px; */
	.leftV2{ width:600px; float:left; }
	#include{ width:500px; height:480px; }
	.rightV2{ width:560px; float:right; }
	.zoomWindow{ left:540px !important; top:-0px !important; }
	.zoomWrapper{ width:600px !important; height:410px !important; }
	.zoomWrapperImage{ height:408px !important; }
	/*.quemComprouComprouTambem{height: 500px;}*/
}
.btns li.blc_4{ display:none; }
